body {
  font-family: 'Fredoka', sans-serif;
}

@media (max-width: 600px) {
  body {
    font-family: 'Fredoka', sans-serif;
    font-size: 1.2em; /* Aumento del tamaño de la fuente */
  }

  .card img {
    width: 100%; /* Hacer las imágenes más grandes para móviles */
    height: auto;
  }
}