@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Fredoka', sans-serif; /* Se cambia la fuente a Fredoka */
  text-align: center;
  background: url('granja-fondo.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

h1 {
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #FFD700;
  text-shadow: 2px 2px 5px #000;
}

.contenedor-ruleta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  top: 50px; /* 游댶 Este es el cambio que forzar치 que se suba */
}

.flecha {
  width: 100px;
  height: auto;
  margin-right: -10px; /* posicion de la flecha */
  margin-top: 0px;
}

.ruleta-wrapper {
  width: 600px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#ruleta {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform-origin: center center;
  transition: transform 4s ease-out;
  display: block;
}

button#girar {
  position: relative;
  top: 100px; /* 游댶 Ajusta este valor a tu gusto */
  padding: 15px 30px;
  font-size: 1.5rem;
  background-color: #ff5722;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  transition: background 0.3s ease;
}

button#girar:hover {
  background-color: #e64a19;
}

.boton-volver {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #ff9800;
  color: white;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  transition: background-color 0.3s, transform 0.2s;
}

.boton-volver:hover {
  background-color: #e68900;
  transform: scale(1.05);
}

/* Estilos para dispositivos m칩viles */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem; /* Ajusta el tama침o del t칤tulo en dispositivos m칩viles */
  }

  button#girar {
    font-size: 1.2rem; /* Ajusta el tama침o del bot칩n en dispositivos m칩viles */
    padding: 12px 24px;
  }

  .contenedor-ruleta {
    flex-direction: column; /* Apilar los elementos en m칩viles */
    gap: 5px;
  }

  .flecha {
    width: 80px; /* Ajustar el tama침o de la flecha en pantallas peque침as */
    margin-top: 10px;
  }

  .ruleta-wrapper {
    width: 90%; /* Hacer la ruleta m치s peque침a en dispositivos m칩viles */
  }

  #ruleta {
    width: 100%;
    height: auto;
  }
}
